<template>
  <div class="promotion-product-container">
    <!-- <v-data-table
      :search="search_product"
      height="769px"
      :headers="headers"
      :items="product_list"
      sort-by="calories"
      class="elevation-1"
      item-key="code"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title class="fn-4">Promotion List</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            class="search_input"
            v-model="search_product"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            color="teal darken-4"
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="600px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="teal darken-4"
                dark
                rounded
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                New Promotion Code
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-row>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          outlined
                          rounded
                          required
                          color="teal darken-4"
                          v-model="editedItem.code"
                          :rules="inputRules"
                          label="Promotion Code"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          v-model="editedItem.discount_percentage"
                          :rules="dicountRules"
                          label="Promotion Discount"
                          type="number"
                          min="0"
                          max="100"
                          color="teal darken-4"
                          outlined
                          clearable
                          rounded
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="8">
                        <v-menu
                          v-model="menu1"
                          :close-on-content-click="false"
                          max-width="290"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              :value="computedStartDate"
                              clearable
                              label="Start Date"
                              readonly
                              outlined
                              rounded
                              required
                              color="teal darken-4"
                              v-bind="attrs"
                              v-on="on"
                              @click:clear="editedItem.start_dt = null"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            color="teal darken-4"
                            v-model="editedItem.start_dt"
                            @change="menu1 = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="11" sm="4">
                        <v-dialog
                          ref="start_menu"
                          v-model="menu3"
                          :return-value.sync="start_time"
                          persistent
                          width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="start_time"
                              outlined
                              rounded
                              color="teal darken-4"
                              label="Picker in menu"
                              prepend-icon="mdi-clock-time-four-outline"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-time-picker
                            v-if="menu3"
                            v-model="start_time"
                            full-width
                            color="teal darken-4"
                          >
                            <v-spacer></v-spacer>
                            <v-btn
                              text
                              rounded
                              color="teal darken-4"
                              @click="menu3 = false"
                            >
                              Cancel
                            </v-btn>
                            <v-btn
                              rounded
                              dark
                              color="teal darken-4"
                              @click="$refs.start_menu.save(start_time)"
                            >
                              OK
                            </v-btn>
                          </v-time-picker>
                        </v-dialog>
                      </v-col>
                      <v-col cols="12" sm="8">
                        <v-menu
                          v-model="menu2"
                          :close-on-content-click="false"
                          max-width="290"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              :value="computedExpireDate"
                              clearable
                              label="Expire Date"
                              readonly
                              outlined
                              rounded
                              required
                              color="teal darken-4"
                              v-bind="attrs"
                              v-on="on"
                              @click:clear="editedItem.expire_dt = null"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            color="teal darken-4"
                            v-model="editedItem.expire_dt"
                            @change="menu2 = false"
                          >
                          </v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="11" sm="4">
                        <v-dialog
                          ref="end_menu"
                          v-model="menu4"
                          :return-value.sync="expire_time"
                          persistent
                          width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="expire_time"
                              color="teal darken-4"
                              label="Picker in menu"
                              prepend-icon="mdi-clock-time-four-outline"
                              readonly
                              outlined
                              rounded
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-time-picker
                            v-if="menu4"
                            v-model="expire_time"
                            full-width
                            color="teal darken-4"
                          >
                            <v-spacer></v-spacer>
                            <v-btn
                              text
                              rounded
                              color="teal darken-4"
                              @click="menu4 = false"
                            >
                              Cancel
                            </v-btn>
                            <v-btn
                              rounded
                              dark
                              color="teal darken-4"
                              @click="$refs.end_menu.save(expire_time)"
                            >
                              OK
                            </v-btn>
                          </v-time-picker>
                        </v-dialog>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="teal darken-4" text @click="close">Cancel</v-btn>
                <v-btn
                  color="teal darken-4"
                  text
                  :loading="loading"
                  :disabled="!valid || loading"
                  @click="save"
                  >Save</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.start_dt`]="{ item }">
        <p>{{ formatDate(item.start_dt) }}</p>
      </template>
      <template v-slot:[`item.expire_dt`]="{ item }">
        <p>{{ formatDate(item.expire_dt) }}</p>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="teal darken-4" rounded @click="initialize">Reset</v-btn>
      </template>
    </v-data-table> -->
  </div>
</template>

<script>
import { Subscription} from 'rxjs'
import _service from "../../../service/promotion.service";
import _productservice from "../../../service/product.service";
export default {
  name : "promotion_product",
  data() {
    return {
    _initProductSubscription : Subscription,
      dialog: false,
      valid: false,
      loading: false,
      search_product: "",
      product_list: [],
      headers: [
        {
          text: "Promotion Code",
          align: "start",
          sortable: false,
          value: "promo_id",
        },
        { text: "Product Id", value: "product_id" },
        { text: "Product Name", value: "product_name" },
        { text: "Actions", value: "actions", sortable: false },
      ],
    };
  },

  created() {
    this._initProduct();
  },

  methods: {
      _initProduct (){
         this._initProductSubscription =  _service.get_promotion_product_list(this.$route.params.code).subscribe((res) => {
              if (res.lenght > 0){
                  this._initListProduct(Promo)
              }
          })
      },

    _initListProduct(promotion_list) {
      _productservice.get_product({ limit: 9999 }).subscribe((product) => {
        promotion_list.map((promo) => {
          let find_name = product.filter(item => item.product_id === promo.product_id )
          promotion_list["product_name"] = find_name[0].name;
        });
        this.product_list = promotion_list
      });
    },
  },

  destroyed () {
      this._initProductSubscription.unsubscribe()
  }
};
</script>

<style scoped>
.hide-text {
  text-decoration: none;
}
</style>