<template>
  <div class="promotion-container">
    <v-data-table
      :search="search_product"
      height="769px"
      :headers="headers"
      :items="promotion_list"
      sort-by="calories"
      class="elevation-1"
      item-key="code"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title class="fn-4">Promotion List</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            class="search_input"
            v-model="search_product"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            color="teal darken-4"
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="600px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="teal darken-4"
                dark
                rounded
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                New Promotion Code
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-row>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          outlined
                          rounded
                          required
                          color="teal darken-4"
                          v-model="editedItem.code"
                          :rules="inputRules"
                          label="Promotion Code"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          v-model="editedItem.discount_percentage"
                          :rules="dicountRules"
                          label="Promotion Discount"
                          type="number"
                          min="0"
                          max="100"
                          color="teal darken-4"
                          outlined
                          clearable
                          rounded
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="8">
                        <v-menu
                          v-model="menu1"
                          :close-on-content-click="false"
                          max-width="290"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              :value="computedStartDate"
                              clearable
                              label="Start Date"
                              readonly
                              outlined
                              rounded
                              required
                              color="teal darken-4"
                              v-bind="attrs"
                              v-on="on"
                              @click:clear="editedItem.start_dt = null"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            color="teal darken-4"
                            v-model="editedItem.start_dt"
                            @change="menu1 = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="11" sm="4">
                        <v-dialog
                          ref="start_menu"
                          v-model="menu3"
                          :return-value.sync="start_time"
                          persistent
                          width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="start_time"
                              outlined
                              rounded
                              color="teal darken-4"
                              label="Picker in menu"
                              prepend-icon="mdi-clock-time-four-outline"
                              readonly
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-time-picker
                            v-if="menu3"
                            v-model="start_time"
                            full-width
                            color="teal darken-4"
                          >
                            <v-spacer></v-spacer>
                            <v-btn
                              text
                              rounded
                              color="teal darken-4"
                              @click="menu3 = false"
                            >
                              Cancel
                            </v-btn>
                            <v-btn
                              rounded
                              dark
                              color="teal darken-4"
                              @click="$refs.start_menu.save(start_time)"
                            >
                              OK
                            </v-btn>
                          </v-time-picker>
                        </v-dialog>
                      </v-col>
                      <v-col cols="12" sm="8">
                        <v-menu
                          v-model="menu2"
                          :close-on-content-click="false"
                          max-width="290"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              :value="computedExpireDate"
                              clearable
                              label="Expire Date"
                              readonly
                              outlined
                              rounded
                              required
                              color="teal darken-4"
                              v-bind="attrs"
                              v-on="on"
                              @click:clear="editedItem.expire_dt = null"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            color="teal darken-4"
                            v-model="editedItem.expire_dt"
                            @change="menu2 = false"
                          >
                          </v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="11" sm="4">
                        <v-dialog
                          ref="end_menu"
                          v-model="menu4"
                          :return-value.sync="expire_time"
                          persistent
                          width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="expire_time"
                              color="teal darken-4"
                              label="Picker in menu"
                              prepend-icon="mdi-clock-time-four-outline"
                              readonly
                              outlined
                              rounded
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-time-picker
                            v-if="menu4"
                            v-model="expire_time"
                            full-width
                            color="teal darken-4"
                          >
                            <v-spacer></v-spacer>
                            <v-btn
                              text
                              rounded
                              color="teal darken-4"
                              @click="menu4 = false"
                            >
                              Cancel
                            </v-btn>
                            <v-btn
                              rounded
                              dark
                              color="teal darken-4"
                              @click="$refs.end_menu.save(expire_time)"
                            >
                              OK
                            </v-btn>
                          </v-time-picker>
                        </v-dialog>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="teal darken-4" text @click="close">Cancel</v-btn>
                <v-btn
                  color="teal darken-4"
                  text
                  :loading="loading"
                  :disabled="!valid || loading"
                  @click="save"
                  >Save</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.start_dt`]="{ item }">
        <p>{{ formatDate(item.start_dt) }}</p>
      </template>
      <template v-slot:[`item.expire_dt`]="{ item }">
        <p>{{ formatDate(item.expire_dt) }}</p>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:[`item.links`]="{ item }">
        <router-link class="hide-text" :to="`/Admin/Promotion_Product/${item.code}`"><v-icon small> mdi-card-search-outline </v-icon> view product</router-link>
      </template>
      <template v-slot:no-data>
        <v-btn color="teal darken-4" rounded @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import moment from "moment";
import { format, parseISO } from "date-fns";
import _service from "../../../service/promotion.service";
export default {
  name: "manage_promotion",
  data() {
    return {
      dialog: false,
      valid: false,
      loading: false,
      search_product: "",
      headers: [
        {
          text: "Promotion Code",
          align: "start",
          sortable: false,
          value: "code",
        },
        { text: "Code discount", value: "discount_percentage" },
        { text: "Start Date", value: "start_dt" },
        { text: "Expire Date", value: "expire_dt" },
        { text: "Actions", value: "actions", sortable: false },
        { text: "Product List", value: "links", sortable: false },
      ],
      promotion_list: [],
      search_product: "",
      editedIndex: -1,
      editedItem: {
        code: "",
        discount_percentage: 0,
        start_dt: format(parseISO(new Date().toISOString()), "yyyy-MM-dd"),
        expire_dt: format(parseISO(new Date().toISOString()), "yyyy-MM-dd"),
      },
      defaultItem: {
        code: "",
        discount_percentage: 0,
        start_dt: format(parseISO(new Date().toISOString()), "yyyy-MM-dd"),
        expire_dt: format(parseISO(new Date().toISOString()), "yyyy-MM-dd"),
      },
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      start_time: "00:00",
      expire_time: "00:00",
      date_start_bc: null,
      date_expire_bc: null,
      inputRules: [(v) => !!v || "Promotion Code is required"],
      dicountRules: [
        (v) => v > 0 || "Promotion Discount MIN 1",
        (v) => v < 101 || "Promotion Discount MAX 100",
      ],
    };
  },

  created() {
    this.initialize();
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "New Promotion Code"
        : "Edit Promotion Code";
    },

    computedStartDate() {
      return this.editedItem.start_dt
        ? moment(this.editedItem.start_dt).format("dddd, MMMM Do YYYY")
        : "";
    },

    computedExpireDate() {
      return this.editedItem.expire_dt
        ? moment(this.editedItem.expire_dt).format("dddd, MMMM Do YYYY")
        : "";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  methods: {
    initialize() {
      _service.get_promotion({ limit: 9999 }).subscribe((res) => {
        this.promotion_list = res;
      });
    },

    formatDate(date) {
      return moment(date).format("dddd, MMMM Do YYYY");
    },

    editItem(item) {
      this.date_start_bc = item.start_dt;
      this.date_expire_bc = item.expire_dt;
      this.editedIndex = this.promotion_list.indexOf(item);
      this.start_time = this.formatTime(this.date_start_bc);
      this.expire_time = this.formatTime(this.date_expire_bc);
      this.editedItem = Object.assign({}, item);
      this.editedItem.start_dt = format(
        parseISO(new Date(item.start_dt).toISOString()),
        "yyyy-MM-dd"
      );
      this.editedItem.expire_dt = format(
        parseISO(new Date(item.expire_dt).toISOString()),
        "yyyy-MM-dd"
      );
      this.dialog = true;
    },

    formatTime(time) {
      return (
        ("0" + new Date(time).getHours()).slice(-2) +
        ":" +
        ("0" + new Date(time).getMinutes()).slice(-2)
      );
    },

    deleteItem(item) {
      const index = this.promotion_list.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.promotion_list.splice(index, 1);
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        if (this.editedIndex > -1) {
          this.promotion_list[this.editedIndex].start_dt = this.date_start_bc;
          this.promotion_list[this.editedIndex].expire_dt = this.date_expire_bc;
        }
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        if (this.editedIndex > -1) {
          this.editedItem.start_dt =
            this.editedItem.start_dt + "T" + this.start_time + ":00";
          this.editedItem.expire_dt =
            this.editedItem.expire_dt + "T" + this.expire_time + ":00";
          _service
            .update_promotion(this.editedIndex, this.editedItem)
            .subscribe((res) => {
              if (res["success"]) {
                this.$swal({
                  toast: true,
                  timerProgressBar: true,
                  position: "top-end",
                  icon: "success",
                  title: "update promotion success",
                  showConfirmButton: false,
                  timer: 1500,
                });
                this.loading = false;
                this.close();
                this.initialize();
              } else {
                this.$swal({
                  toast: true,
                  timerProgressBar: true,
                  position: "top-end",
                  icon: "error",
                  title: `${res["detail"]}`,
                  showConfirmButton: false,
                  timer: 1500,
                });
                this.loading = false;
              }
            }),
            () => {
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: "top-end",
                icon: "error",
                title: `internal server error`,
                showConfirmButton: false,
                timer: 1500,
              });
              this.loading = false;
            };
        } else {
          this.editedItem.start_dt =
            this.editedItem.start_dt + "T" + this.start_time + ":00";
          this.editedItem.expire_dt =
            this.editedItem.expire_dt + "T" + this.expire_time + ":00";
          _service.create_promotion(this.editedItem).subscribe((res) => {
            if (res["PromoId"]) {
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: "top-end",
                icon: "success",
                title: "create promotion success",
                showConfirmButton: false,
                timer: 1500,
              });
              this.loading = false;
              this.close();
              this.initialize();
            } else {
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: "top-end",
                icon: "error",
                title: `${res["detail"]}`,
                showConfirmButton: false,
                timer: 1500,
              });
              this.loading = false;
            }
          }),
            () => {
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: "top-end",
                icon: "error",
                title: `internal server error`,
                showConfirmButton: false,
                timer: 1500,
              });
              this.loading = false;
            };
        }
      }
    },
  },
};
</script>

<style scoped>
.hide-text{
    text-decoration: none;
    color: black;
}
</style>