<template>
  <div class="about">
    <div class="content" id="about">
      <div class="about-content text-left">
        <h4>ABOUT</h4>
        <hr />
        <p>หัตถกรรมจักรสารจากค้อ</p>
        <p>กลุ่มหัตถกรรมจักสานค้อชุมชนบ้านก๋ายน้อย
          อ.แม่แตง จ.เชียงใหม่ เป็นชุมชนพื้นเมืองบนพื้นที่สูง
          ชุมชนมีแหล่งต้นค้อกระจายในพื้นที่ คนในชุมชนตัดใบขาย
          เอาส่วนที่เหลือคือเปลือกก้านค้อ มาทำชิ้นงานหัตถกรรม
          (ราคาต่ำ) เพื่อเป็นการยกระดับงานฝีมือยกระดับชิ้นงาน
          จาก"หัตถกรรม"เป็น"หัตถศิลป์"เพื่อเพิ่มมูลค่าผลิตภัณฑ์
          อาทิเช่น ปิ่นโต กระเป๋าเป้ โคมไฟระย้า เครื่องประดับ ฯลฯ
          ให้ผู้ผลิตมีรายได้ที่คุ้มค่าในการผลิต เกิดการอนุรักษ์
          และการบริหารจัดการรัพยากรธรรมชาติและสิ่งแวดล้อม
          ในท้องถิ่นได้อย่างมีประสิทธิภาพ รายได้จากการจำหน่าย
          คืนสู่ชุมชนผู้ผลิต 100%</p>
      </div>
    </div>
    <div class="card">
      <div class="text-left">
        <div class="row">
          <div class="col-md-6">
            <h4>Address</h4>
            <div class="card-body">
              <p>
                กลุ่มหัตถกรรม
              </p>
              <p>ที่อยู่ 28/2 หมู่ที 1 บ้านก๋ายน้อย</p>
              <p>อำเภภอแม่แตง จังหวัดเชียงใหม่</p>
            </div>
          </div>
          <div class="col-md-6">
            <h4>Contact</h4>
            <div class="card-body">
              <p>นางเสาวนีย์   ผางมาลี</p>
              <p>ที่อยู่ 28/2 หมู่ที 1 บ้านก๋ายน้อย</p>
              <p>อำเภภอแม่แตง จังหวัดเชียงใหม่</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
const Footer = () => import("@/components/home/Footer");
export default {
  name: "About",
  components: {
    Footer
  }
};
</script>

<style scoped>
.about-content {
  position: absolute;
  top: 10%;
  left: 5%;
}

.content {
  display: block;
  color: rgb(255, 255, 255);
}

.about {
  padding: 100px 100px 0px 100px;
}

#about {
  background-image: url("../../assets/img/mon_bg.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 0ch;
  border-radius: 0%;
  color: black;
}
</style>
