<template>
  <div class="home" id="home">
    <div class="content">
      <div class="blog_content blog_nav">
        <nav class="navbar bg-manu">
          <span class="navbar-brand mb-0 h1">YOUR CART</span>
          <v-divider class="none-color"></v-divider>
          <span>TOTAL PRICE : {{ totalPrice }} ฿</span>
        </nav>
      </div>

      <div class="cart_main">
        <div class="list-content">
          <div class="main_cus_img">
            <div class="card h100">
              <div class="header-title">
                <h4>LIST</h4>
                <hr />
              </div>
              <div class="list-order">
                <div class="row">
                  <div
                    v-for="(item, index) in cart"
                    v-bind:item="item"
                    v-bind:index="index"
                    v-bind:key="index"
                    class="col-md-4"
                  >
                    <figure class="fir-image-figure text-center">
                      <img
                        class="fir-author-image fir-clickcircle img-display"
                        :src="Scrimg_add(item.product_images[0].image_url)"
                      />
                      <figcaption>
                        <div class="fig-author-figure-title text-op">
                          Product Name : {{ item.name }}
                        </div>
                        <div class="fig-author-figure-title text-op">
                          Product Detail : {{ item.description }}
                        </div>
                        <div class="fig-author-figure-title text-op">
                          Product Price : {{ item.price }} Bath.
                        </div>
                        <div class="fig-author-figure-title text-op">
                          <v-btn
                            class="ma-2"
                            outlined
                            color="error"
                            @click="deleteCart(index)"
                          >
                            ลบสินค้า
                          </v-btn>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>

              <!-- <div class="checkout-group" style="padding : 52px 10px;">
                <div class="payment">
                  <div class="container">
                    <div class="row">
                    <button class="btn btn-confirm" type="submit" id="checkout-button" >Checkout</button>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="total-price">
      <div class="total-detail">
        <h2>TOTAL : {{ totalPrice }} BATH.</h2>
        <h5>VET : 7%</h5>
      </div>
      <button class="btn btn-confirm" type="submit" id="checkout-button">
        Checkout
      </button>
    </div>

    <Footer></Footer>
  </div>
</template>

<script>
import { http } from "../../config/http";
import { VUE_APP_OMISE_PRODUCT_PUBLIC_KEY } from "../../config/omise_key";
const Footer = () => import("@/components/home/Footer");
export default {
  name: "Cart",
  data() {
    return {
      cart: [],
      payment_tk: null,
      price: 0,
    };
  },
  components: {
    Footer,
  },

  created() {
    this.cart = this.$store.state.cart;
  },

  mounted() {
    var button = document.querySelector("#checkout-button");
    // var form = document.querySelector("#checkout-form");

    button.addEventListener("click", (event) => {
      event.preventDefault();
      OmiseCard.open({
        publicKey: VUE_APP_OMISE_PRODUCT_PUBLIC_KEY,
        amount: this.price,
        frameLabel: "MONTHGO STORE",
        currency: "THB",
        submitLabel: "Pay Now",
        defaultPaymentMethod: "credit_card",
        onCreateTokenSuccess: (token) => {
          if (token && token.startsWith("tokn_")) {
            this.payment_tk = token;
          }
        },
      });
    });

    OmiseCard.attach();
  },

  methods: {
    deleteCart(index) {
      this.cart.splice(1, index);
      this.$store.commit("deleteCart", index);
    },

    Scrimg_add(img) {
      if (img.includes("/images")) {
        return `${http}${img}`;
      } else {
        return img;
      }
    },
  },

  computed: {
    totalPrice() {
      let totalPrice = 0;

      for (let index = 0; index < this.cart.length; index++) {
        totalPrice = totalPrice + parseInt(this.cart[index].price);
      }
      this.price = totalPrice * 100;
      return totalPrice;
    },
  },
};
</script>

<style scoped>
.payment input {
  border: 1px solid black;
  border-radius: 8px;
}

.list-order {
  height: 100%;
  padding-bottom: 100px;
}

.total-price {
  display: flex;
  color: white !important;
  font-size: 15px !important;
  font-weight: 100 !important;
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 50px;
  align-items: center;
}

.btn-confirm {
  max-width: 300px;
  color: black;
  background-color: white;
  border: 1px solid white;
  width: 100%;
  margin-left: auto;
  border-radius: 8px;
  height: 40px;
}

.btn-confirm:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.main_cus_img {
  height: 100%;
}

.h100 {
  height: inherit;
}
.card {
  border-radius: 0%;
  padding: 50px 50px;
  color: black;
  border: none;
}

.bg-manu {
  background-color: white;
  color: black;
}

.bg-manu span {
  font-size: 20px;
  font-weight: bolder;
}

.col-md-6 .payment .card {
  text-align: left;
}

/* card */

.fir-clickcircle {
  max-height: 150px;
  max-width: 150px;
  width: auto;
  height: 100%;
  cursor: pointer;
  margin: auto;
}

.fir-image-figure {
  align-items: center;
  position: relative;
  text-decoration: none;
  background: #e5e5e5;
  padding: 20px 40px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.fir-image-figure .caption,
.fir-image-figure figcaption {
  padding-left: 10px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
  font-size: 20px;
}

.fir-image-figure .fig-author-figure-title {
  font-weight: 400;
  font-size: 18px;
  margin-top: 2px;
}

.none-color {
  border-color: white !important;
}

.text-op {
  font-size: 14px !important;
}

.text-center {
  align-items: center;
  justify-content: center;
}

.img-display {
  margin-bottom: 10px;
  border-radius: 10px;
  width: auto;
  height: 200px;
}
</style>
