<template>
  <div class="home">
    <div class="home-container">
      <!-- <div class="title_product" style="margin: 20px 30px;" >
          <p>บ่งบอกความเป็นตัวคุณได้เเล้ววันนี้....</p>
      </div> -->
      <div class="content_img" style="margin-top: 30px">
        <v-row class="h100">
          <v-col cols="12" sm="12" md="6" style="padding: 0; min-height: 500px">
            <div class="content_title">
              <div>
                <h1 style="color: #004d40">ธรรมชาติ</h1>
                <h2>X</h2>
                <h1>มนุษย์</h1>
                <p style="color: black">Product by MON</p>
              </div>
            </div>
          </v-col>
          <v-col cols="12" sm="12" md="6" style="padding: 0">
            <div class="img" id="home"></div>
          </v-col>
        </v-row>
      </div>
      <div class="content">
        <div class="title_video">
          <p>คุณรู้ไหม...ว่าเราคือใคร</p>
          <p>ทำความรู้จักเราให้มากยิ่งขึ้น</p>
        </div>
        <video
          ref="videoRef"
          autoplay
          playsinline
          class="vedio"
          type="video/mp4"
          src="https://drive.google.com/uc?export=view&id=1vZ8qu1ohVSzQ7rGUifP16BNqvs3ErbQ1"
          id="video-container"
          width="100%"
          controls
        ></video>
      </div>
      <!-- <div class="content-white h500">
        <v-row class="content-center">
          <v-col sm="12" md="6">
            <video
              ref="videoRef"
              class="vedio"
              type="video/mp4"
              controls
              src="../../assets/video/mon1.mp4"
              id="video-container"
              width="100%"
            ></video>
          </v-col>
          <v-col sm="12" md="6">
            <div class="title_product_wh text-center">
              <p>จากภูมิปัญญาท้องถิ่น</p>
              <p>สู่ความสวยงามที่คุณสามารถสัมผัสได้</p>
            </div>
          </v-col>
        </v-row>
      </div> -->
      <div class="content h-cs">
        <div class="title_video mb text-center">
          <p>วัฒนธรรม วิถีชีวิต อาหาร ธรรมชาติ</p>
          <p>สัมผัสความ "อบอุ่น" ด้วยตัวของคุณเอง...</p>
        </div>
        <v-row>
          <v-col sm="12" md="4">
            <video
              ref="videoRef"
              class="vedio"
              type="video/mp4"
              controls
              src="https://drive.google.com/uc?export=view&id=1zxDVdLzohWRfL1OeZvs6l8r-mlpCOAaD"
              id="video-container"
              width="100%"
            ></video>
          </v-col>
          <v-col sm="12" md="4">
            <video
              ref="videoRef"
              class="vedio"
              type="video/mp4"
              controls
              src="https://drive.google.com/uc?export=view&id=1Lgqq9P-0KBrk4NJLVHC2Ou7m4bpiKO8h"
              id="video-container"
              width="100%"
            ></video>
          </v-col>
          <v-col sm="12" md="4">
            <video
              ref="videoRef"
              class="vedio"
              type="video/mp4"
              controls
              src="https://drive.google.com/uc?export=view&id=1SJx3LEwrH6BAEi88F2p3m9IzA-3KLvy6"
              id="video-container"
              width="100%"
            ></video>
          </v-col>
        </v-row>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
const Footer = () => import("@/components/home/Footer");
const Cardnews = () => import("@/components/home/Card_naw");

export default {
  name: "home",
  data() {
    return {
      test: "",
      video: {
        sources: [
          {
            src: "../../assets/video/present.mp4",
            type: "video/mp4",
          },
        ],
        options: {
          autoplay: true,
          volume: 0.6,
        },
      },
    };
  },
  components: {
    Footer,
    Cardnews,
  },
};
</script>

<style scoped>
.content {
  padding: 50px;
  background: black;
}

.text-center {
  text-align: center;
}

.content-white {
  padding: 50px;
  background: white;
}

.title_product > p {
  font-size: 40px;
  color: black;
}

.title_video > p {
  font-size: 40px;
  color: white;
}

.title_product_wh > p {
  font-size: 40px;
  color: black;
}

.title_video_wh > p {
  font-size: 40px;
  color: black;
}

.vedio {
  padding: 50px;
  border-radius: 100px;
}

@media screen and (max-width: 600px) {
  .title_product > p {
    font-size: 15px;
  }

  .title_video > p {
    font-size: 18px;
  }

  .content {
    padding: 15px;
  }

  .vedio {
    pointer-events: none;
    padding: 10px;
    border-radius: none;
  }
}

.content_img {
  min-height: 700px;
  margin-bottom: 60px;
}

.news-content {
  height: 500px;
}

.list-news-content {
  margin: 0 40px;
}

.title > p {
  padding: 0px 40px;
  color: black;
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 0;
}

#home {
  background-image: url("../../assets/img/present.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 700px;
  min-height: 700px;
  width: auto;
  border-radius: 20px;
}

.h100 {
  height: 100%;
}

.content_title {
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  text-align: center;
}

.content_title > div > h1 {
  font-size: 6.5rem;
}

.h500 {
  height: 100vh;
}

.h-cs {
  height: auto;
  min-height: 100vh;
}

.content-center {
  height: 100%;
  align-items: center;
}

.mb {
  margin-top: 30px;
  margin-bottom: 140px;
}
</style>
