<template>
  <div class="news-content">
    <v-container>
      <div class="header">
        <div class="title">
          <h1>ข่าวสาร</h1>
        </div>
      </div>
      <div class="main-content">
        <CardNaws :newsData="news_mock"></CardNaws>
      </div>
    </v-container>
  </div>
</template>

<script>
const CardNaws = () => import("@/components/news/NewsCard");
export default {
  name: "news_pages",
  components: {
    CardNaws,
  },
  data() {
    return {
      news_mock: [
        {
          img_url:
            "https://drive.google.com/uc?export=view&id=1qt_UNls4rl8EWNPfFZJlLtjzySDCrkP-",
          title: "น้ำพริกผักชี",
          discription: "น้ำพริกเพื่อสุขภาพฉบับเมืองก๋าย",
        },
        {
          img_url:
            "https://drive.google.com/uc?export=view&id=1FJyzlAJos4g4Uzi4-pgeX6AAGiw6Wcqn",
          title: "ต้มจืดฟักทอง",
          discription: "ต้มจืดฟักทอง สูตรอร่อยฉบับม่อนเงาะ",
        },
        {
          img_url:
            "https://drive.google.com/uc?export=view&id=1hVhglgRR7zIU0lxyL8JcvJtBZn-NulpF",
          title: "ไก่ต้มสมุนไพร",
          discription:
            "ไก่อบสมุนไพรต้นตำหรับฉบับชาวม้ง อาหารพื้นเมืองสไตล์ชาวบ้าน",
        },
        {
          img_url:
            "https://drive.google.com/uc?export=view&id=1P-YHBsjogz0IqWrUT3Uk4UtHhoL93SmS",
          title: "ส้ามะเขือเเจ้",
          discription: "ส้ามะเขือเเจ้ เเบบฉบับชาวเหนือขนานเเท้ จากชาวเชียงใหม่",
        },
        {
          img_url:
            "https://drive.google.com/uc?export=view&id=1-2jHIm1-LY9me3tWCFTrHqFpkZYdyKH-",
          title: "ยำใบเหมี่ยง",
          discription: "ยำใบเหมี่ยง สูตรเด็ดต้นตำหรับวิถีชีวิตขาวเหนือขนานเเท้",
        },
        {
          img_url:
            "https://drive.google.com/uc?export=view&id=1IxENSkJClTOkAFbDcolmRI0p5wmybBQi",
          title: "น้ำพริกรสด่วน",
          discription:
            "น้ำพริกรสด่วน สูตรต้นตำหรับชาวเหนือ สูตรความอร่อยโดยชาวเมืองก๋าย",
        },
      ],
    };
  },
};
</script>

<style scoped>
.title {
  color: black;
}
</style>
