<template>
  <div class="product_detail h100" id="prdouct_detail">
    <div class="content h100">
      <div class="blog_content blog_nav">
        <NavbarCart></NavbarCart>
      </div>

      <div class="blog_content_pd blog_product h100">
        <div class="card-group row">
          <div class="col-md-8 pd-50">
            <v-carousel
              :continuous="false"
              cycle
              show-arrows-on-hover
              hide-delimiter-background
              delimiter-icon="mdi-minus"
              height="100%"
            >
              <v-carousel-item
                v-for="image in dataProductDetail.product_images"
                :key="image.prodimg_id"
                :src="Scrimg_add(image.image_url)"
              >
              </v-carousel-item>
            </v-carousel>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ dataProductDetail.name }}</h5>
                <hr />
                <h6 class="card-subtitle mb-2 text-muted">DETAIL :</h6>
                <p class="card-text">
                  {{ dataProductDetail.description }}
                </p>
              </div>
              <div class="card-footer">
                <p class="card-text"></p>
                <p class="card-text">
                  <small class="text-muted"
                    >PRICE : {{ dataProductDetail.price }} BATH.</small
                  >
                </p>
                <div class="btn_cart">
                  <hr />
                  <div class="row">
                    <button
                      class="btn btn-buy"
                      @click="addtoCart(dataProductDetail)"
                    >
                      BUY NOW
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      <div class="blog_content cm_product blog_product h100">
        <div
          id="carouselExampleIndicatorsRec"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicatorsRec"
              data-slide-to="0"
              class="active"
            ></li>
            <li
              data-target="#carouselExampleIndicatorsRec"
              data-slide-to="1"
            ></li>
            <li
              data-target="#carouselExampleIndicatorsRec"
              data-slide-to="2"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item  pd active">
              <div class="card-deck">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This card has supporting text below as a natural lead-in
                      to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item pd">
              <div class="card-deck">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This card has supporting text below as a natural lead-in
                      to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item pd">
              <div class="card-deck">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This card has supporting text below as a natural lead-in
                      to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../assets/img/mon_bg.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicatorsRec"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicatorsRec"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> -->
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import _service from "../../service/product.service";
import { http } from "../../config/http";
const Footer = () => import("@/components/home/Footer");
const NavbarCart = () => import("@/components/NavbarCart");
export default {
  name: "ProductDetail",
  components: {
    Footer,
    NavbarCart,
  },
  data() {
    return {
      dataProductDetail: {},
    };
  },

  created() {
    this.getProductDetail();
  },

  methods: {
    Scrimg_add(img) {
      if (img.includes("/images")) {
        return `${http}${img}`;
      } else {
        return img;
      }
    },

    getProductDetail() {
      _service
        .get_product_detail(this.$route.params.product_id)
        .subscribe((res) => {
          this.dataProductDetail = res[0];
        });
    },

    async addtoCart(product) {
      await this.$store.commit("addtoCart", this.dataProductDetail);
      await this.$swal({
        toast: true,
        timerProgressBar: true,
        position: "top-end",
        icon: `add product ${product.name} to cart successful`,
        title: "add product",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>

<style scoped>
.blog_content_pd {
  margin: 0 20px;
}

.pd-50 {
  padding: 50px;
}

.input-search {
  max-width: 150px;
}

.product-img {
  padding: 0px 15px;
}

.card-image {
  height: 450px;
  background-color: rgb(246, 246, 246);
  display: flex;
}

.card-image > img {
  margin: auto;
  max-height: 450px;
}

.card-group {
  height: 100%;
}

.card-footer {
  border: 0;
  background-color: transparent;
}
h5 {
  font-size: 28px;
}
.btn-cart {
  color: black;
  font-size: 27px;
  padding: 0px 15px;
}

.carousel {
  height: 100%;
}

hr {
  background-color: black;
}
.btn_cart .btn {
  width: 100%;
  margin: auto;
  border-radius: 8px;
}
.btn_cart .btn-buy {
  border: 1px solid black;
  color: black;
  margin: 5px 10px;
}
.btn_cart .btn-customize {
  width: 100%;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin: 5px 10px;
}

.cm_product .carousel-inner {
  overflow: auto;
}

.pd {
  padding: 20px;
}

.col-md-4 {
  padding: unset;
}

.blog_product {
  height: calc(100% - 58px);
  display: block;
}

.col-md-4 .card {
  height: 100%;
}

.card {
  height: 100%;
  border-radius: 0px;
  border: 0;
  /* border: 0cm;
  box-shadow: 0px 0px 6px 0px; */
}
.btn-add {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}

.btn-add:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
}

.carousel-item img {
  height: auto;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mr {
  margin: 20px 0px;
}

.block-center {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 150px;
}

.mr a {
  width: 100%;
  display: block;
}

.card .card-body {
  text-align: left;
  color: black;
}

.card .card-footer {
  text-align: left;
}

.carousel-item {
  /* display: flex; */
  height: 100%;
}
.carousel-inner {
  max-width: 100%;
}

.content {
  height: 100%;
}

.content .ing,
img {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog_img img {
  height: auto;
  max-height: 300px;
  width: 100%;
  display: block;
  position: relative;
}

@media (max-width: 580px) {
  .input-search {
    display: none;
  }
}

.input-search {
  border: 0.5px solid black;
  background-color: transparent;
  border-radius: 8px;
  color: black;
}
</style>
