<template>
  <div class="home" id="home">
    <div class="content">
      <NavbarCart :title="true" @emitFilterdata="emitFilterdata($event)"></NavbarCart>
      <div class="blog_content blog_product h100">
        <Cardproduct :productList="productList"></Cardproduct>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import { mapState , mapMutations , mapGetters} from 'vuex'
const Footer = () => import("@/components/home/Footer");
const Cardproduct = () => import("@/components/Cardproduct");
const NavbarCart = () => import("@/components/NavbarCart");
import _service from "../../service/product.service";
export default {
  name: "Product",
  components: {
    Footer,
    Cardproduct,
    NavbarCart,
  },

  created() {
    this.productStore.length === 0 ?  this.getProductList() : ''
  },

  computed: mapState(['productList' , 'productStore']),

  methods: {
    ...mapGetters(['productFilter']),
    ...mapMutations(['setProdectList','setProdectStore' ]),
    
    getProductList(){
      _service.get_product({limit : 99999}).subscribe((res) => {
        this.setProdectStore(res)
        this.setProdectList(res)
      });
    },

    emitFilterdata (value) { 
      if(value !== ''){
        const data = this.productStore.filter(product => product.name.toLowerCase().includes(value.toLowerCase()))
        this.setProdectList(data)
      }else{
        this.setProdectList(this.productStore)
      }
    },
  },
};
</script>

<style scoped>
.btn-cart {
  color: black;
  font-size: 27px;
  padding: 0px 15px;
}

@media (max-width: 580px) {
  .input-search {
    display: none;
  }
}

.input-search {
  border: 0.5px solid black;
  background-color: transparent;
  border-radius: 8px;
  color: black;
}

.carousel-item img {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-center {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 150px;
}

.content .img,
img {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog_img img {
  height: auto;
  max-height: 300px;
  width: 100%;
  display: block;
  position: relative;
}
</style>
