<template>
  <div class="product-list">
    <div class="fl-container">
      <v-data-table
        :search="search_product"
        height="769px"
        :headers="headers"
        :items="list_user"
        sort-by="calories"
        class="elevation-1"
        item-key="id"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title class="fn-4">User List</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field
              class="search_input"
              v-model="search_product"
              color="teal darken-4"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="700px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  New User
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-form
                      class="form-input-login"
                      ref="form"
                      v-model="valid"
                      lazy-validation
                    >
                      <v-row>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="editedItem.first_name"
                            label="firstname"
                            outlined
                            rounded
                            required
                            prepend-icon="mdi-account"
                            color="teal darken-4"
                            :rules="nameRules"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="editedItem.last_name"
                            label="lastname"
                            rounded
                            outlined
                            required
                            prepend-icon="mdi-account"
                            color="teal darken-4"
                            :rules="nameRules"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-text-field
                            v-model="editedItem.email"
                            label="email"
                            type="email"
                            outlined
                            rounded
                            required
                            prepend-icon="mdi-email"
                            color="teal darken-4"
                            :rules="emailRules"
                          ></v-text-field>
                        </v-col>
                        <v-col v-if="editedIndex == -1" cols="12" sm="6">
                          <v-text-field
                            v-model="editedItem.password"
                            :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
                            label="password"
                            :type="showpassword ? 'text' : 'password'"
                            counter="15"
                            outlined
                            rounded
                            required
                            prepend-icon="mdi-account-key"
                            color="teal darken-4"
                            @click:append="showpassword = !showpassword"
                            :rules="passwordRules"
                          ></v-text-field>
                        </v-col>
                        <v-col v-if="editedIndex == -1" cols="12" sm="6">
                          <v-text-field
                            v-model="confirm_password"
                            label="confirm password"
                            outlined
                            counter="15"
                            type="password"
                            rounded
                            required
                            prepend-icon="mdi-account-key"
                            color="teal darken-4"
                            :rules="[passwordConfirmationRule]"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-select
                            outlined
                            rounded
                            required
                            :items="list_permission"
                            v-model="editedItem.role"
                            label="Permission"
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancel</v-btn
                  >
                  <v-btn :disabled="!valid" color="blue darken-1" text @click="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.status`]="{ item }">
          <v-switch v-model="item.status"></v-switch>
        </template>
        <template v-slot:[`item.customize_status`]="{ item }">
          <v-switch class="mr-auto" v-model="item.customize_status"></v-switch>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>

          <v-icon small @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import service from "../../../service/user.service";
import authservice from "../../../service/auth.service.js";
export default {
  name: "user_list",
  data: () => ({
    dialog: false,
    valid : false,
    showpassword: false,
    search_product: "",
    confirm_password: "",
    list_permission: [true, false],
    headers: [
      {
        text: "User ID",
        align: "start",
        value: "user_id"
      },
      { text: "Email", value: "email" },
      { text: "First Name", value: "first_name" },
      { text: "Last Name", value: "last_name" },
      { text: "Role", value: `role` },
      { text: "Actions", value: "actions", sortable: false }
    ],
    list_user: [],
    editedIndex: -1,
    editedItem: {
      user_id : "",
      first_name: "",
      last_name: "",
      password: "",
      email: "",
      role: false
    },
    defaultItem: {
      user_id : "",
      first_name: "",
      last_name: "",
      password: "",
      email: "",
      role: false
    },
      nameRules: [v => !!v || "Input is required"],
      passwordRules: [
        v => !!v || "Input is required",
        v => (v && v.length >= 8) || "password must longer than 8 characters",
        v => (v.length >= 8 && v.length <= 15) || "password longer"
        ],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ]
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New User" : "Edit User";
    },

    passwordConfirmationRule() {
      return () =>
        this.editedItem.password === this.confirm_password || "Password must match";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize : function() {
      service.get_user().subscribe(res => {
        res.map(user => {
          this.list_user.push(user)
        })
      })
    },

    editItem(item) {
      this.editedIndex = this.list_user.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.list_user.indexOf(item);
      confirm("Are you sure you want to delete this user?") &&
        service.delete_user(item).subscribe(res => {
          if(res['deleted_user_id']){
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'success',
              title: 'delete user success',
              showConfirmButton: false,
              timer: 1500
            })
             this.list_user.splice(index, 1);  
          }else{
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'error',
              title: `${res['detail']}`,
              showConfirmButton: false,
              timer: 1500
            })
          }
        }),(() => {
          this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'error',
              title: `internal server error`,
              showConfirmButton: false,
              timer: 1500
          })
        })
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.confirm_password = ""
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          service.update_user(this.editedItem).subscribe(res => {
            if(res['success']){
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'success',
                title: 'update success',
                showConfirmButton: false,
                timer: 1500
              })
              Object.assign(this.list_user[this.editedIndex], this.editedItem);
              this.close();
            }else{
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `${res['detail']}`,
                showConfirmButton: false,
                timer: 1500
            })
            }
          }),(() => {
            this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `internal server error`,
                showConfirmButton: false,
                timer: 1500
            })
          })
        } else {
          authservice.register(this.editedItem).subscribe(res => {
            if(res['UserId']){
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'success',
                title: 'Login success',
                showConfirmButton: false,
                timer: 1500
              })
              this.editedItem.user_id = res['UserId'];
              this.list_user.push(this.editedItem);
              this.close();
            }else{
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `${res['detail']}`,
                showConfirmButton: false,
                timer: 1500
            })
            }
          }),(() => {
            this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `internal server error`,
                showConfirmButton: false,
                timer: 1500
            })
          })
        }
      }
    }
  }
};
</script>

<style scoped>
.product-list {
  height: 88vh;
}

.fl-container {
  height: 100%;
}

.search_input {
  max-width: 300px;
}

.fn-4 {
  font-size: 2rem;
}
</style>
