<template>
  <v-row>
    <v-col v-for="i in 3" :key="i" cols="12" sm="6" md="4">
      <v-card class="mx-auto">
        <v-img
          lazy-src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          class="white--text align-end"
          height="400px"
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        >
          <v-card-text class="pb-0">
            <p class="display-1 text--primary">
              Origin
            </p>
            <p>description</p>
          </v-card-text>

          <v-card-actions>
            <v-btn rounded>
              READ MORE
            </v-btn>
          </v-card-actions>
        </v-img>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "card_news"
};
</script>

<style scoped></style>
