<template>
  <div class="footer">
    <p>@monthgo store</p>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: black;
  text-align: center;
  pointer-events: none;
}
</style>
