<template>
  <div class="admin-dashboard">
    <div class="container content">
      <div class="main_content">
        <div class="title-hader">
          <h2>เมนูจัดการ</h2>
        </div>
        <v-row>
          <v-col cols="12" sm="6" md="4" class="manu-list">
            <v-card class="mx-auto" max-width="344" height="100%">
              <v-img
                src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                height="200px"
              ></v-img>

              <v-card-title>
                จัดการสินค้า
              </v-card-title>

              <v-card-subtitle>
                เพิ่ม หรือเเก้ไข สินค้าที่จะเเสดงในหน้าผลิตภัณฑ์
              </v-card-subtitle>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  depressed
                  dark
                  color="teal darken-4"
                  to="/Admin/Product_list"
                  >จัดการ</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>

          <v-col cols="12" sm="6" md="4" class="manu-list">
            <v-card class="mx-auto" max-width="344" height="100%">
              <v-img
                src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                height="200px"
              ></v-img>

              <v-card-title>
                จัดการคำสั้งซื้อ
              </v-card-title>

              <v-card-subtitle>
                ตรวจสอบ เช็ค อัพเดท สถานะคำสั่งซื้อของลูกค้า
              </v-card-subtitle>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  depressed
                  dark
                  color="teal darken-4"
                  to="/Admin/Order_list"
                  >จัดการ</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>

          <v-col cols="12" sm="6" md="4" class="manu-list">
            <v-card class="mx-auto" max-width="344" height="100%">
              <v-img
                src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                height="200px"
              ></v-img>

              <v-card-title>
                จัดการบุคคล
              </v-card-title>

              <v-card-subtitle>
                เพิ่ม ลบ หรือเเก้ไขบุคลลในระบบ
              </v-card-subtitle>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  depressed
                  dark
                  color="teal darken-4"
                  to="/Admin/User_list"
                  >จัดการ</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Admin_Dashboard",
  components: {},
  data() {
    return {
      show: false
    };
  }
};
</script>

<style scoped>
.admin-dashboard {
  z-index: 0;
  top: 125px;
  width: 100%;
}

.title-hader {
  color: black;
}
</style>
