<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn outlined color="primary" dark v-bind="attrs" v-on="on">
        เพิ่มหลักฐาน
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">เพิ่มรูปภาพ/หลักฐานการจัดส่ง</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" v-if="url">
              <div id="preview">
                <img :src="url" />
              </div>
            </v-col>
            <v-col cols="12">
              <v-file-input
                v-model="files"
                outlined
                show-size
                counter
                accept="image/png, image/jpeg, image/bmp"
                placeholder="กรุณาเพิ่มรูปภาพ/หลักฐานการจัดส่ง"
                prepend-icon="mdi-camera"
                label="เพิ่มรูปภาพ/หลักฐานการจัดส่ง"
                :rules="photorules"
                @change="onFileChange"
              ></v-file-input>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="cancel()">
          Close
        </v-btn>
        <v-btn color="blue darken-1" text @click="save()">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AddCardDialog",
  props: ["data"],
  data: () => ({
    dialog: false,
    order: null,
    url: null,
    files: [],
    photorules: [
      v => !!v || "Image is required",
      value =>
        (value && value.size < 2000000) ||
        "Avatar size should be less than 2 MB!"
    ]
  }),

  computed: {
    isSelected: function() {
      return this.order === this.data;
    }
  },

  methods: {
    save: function() {
      // eslint-disable-next-line no-console
      console.log(this.data, this.files);
    },

    cancel: function() {
      this.files = [];
      this.url = null;
      this.dialog = false;
    },

    onFileChange() {
      if (this.files) {
        const file = this.files;
        this.url = URL.createObjectURL(file);
      }
    }
  }
};
</script>

<style scoped>
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
}
</style>
