<template>
  <div class="product-list">
    <div class="fl-container">
      <v-data-table
        :search="search_product"
        height="769px"
        :headers="headers"
        :items="desserts"
        sort-by="calories"
        class="elevation-1"
        :single-expand="singleExpand"
        :expanded.sync="expanded"
        item-key="order_id"
        show-expand
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title class="fn-4">Order List</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="search_input"
              v-model="search_product"
              append-icon="mdi-magnify"
              label="Search"
              color="teal darken-4"
              single-line
              hide-details
            ></v-text-field>
          </v-toolbar>
        </template>
        <template v-slot:item.status="{ item }">
          <div class="status">
            <v-chip
              class="w-chip ma-2"
              v-if="item.status === 0"
              color="secondary"
            >
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              รอยืนยันออเดอร์
            </v-chip>
            <v-btn
              small
              v-if="item.status == 0"
              color="teal derken-4"
              dark
              :key="item.order_id"
              @click="ConfirmOrder(item)"
              >รับออเดอร์</v-btn
            >

            <v-chip class="w-chip ma-2" v-if="item.status == 1" color="primary">
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              ยืนยันออเดอร์
            </v-chip>
            <card-dialog
              v-if="item.status == 1"
              :data="item"
              :key="item.order_id"
            ></card-dialog>

            <v-chip v-if="item.status == 2" class="ma-2 w-chip" color="orange">
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              กำลังจัดส่ง
            </v-chip>
            <v-chip v-if="item.status == 3" class="ma-2 w-chip" color="success">
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              ได้รับสินค้าเเล้ว
            </v-chip>
            <v-chip
              v-if="item.status == 99"
              class="ma-2 w-chip"
              dark
              color="red"
            >
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              เกิดข้อผิดพลาด
            </v-chip>
          </div>
        </template>
        <template v-slot:item[`customize_status`]="{ item }">
          <v-switch class="mr-auto" v-model="item.customize_status"></v-switch>
        </template>
        <template v-slot:item[`actions`]="{ item }">
          <v-icon v-if="item.status === 3" small @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <div class="fl-container">
              <div class="content">
                <div class="container detail">
                  <v-row>
                    <v-col cols="12" sm="6">
                      <h5>ชื่อผู้รับ : {{ item.buyer }}</h5>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <h5>ที่อยู่จัดส่ง : {{ item.address }}</h5>
                    </v-col>
                  </v-row>
                </div>
                <v-row>
                  <v-col
                    v-for="(item, index) in item.custom_item_list"
                    :key="index"
                    cols="12"
                  >
                    <v-row>
                      <v-col class="mg-auto" cols="12" sm="2">
                        <v-card flat class="d-flex">
                          <v-img
                            :src="item.product_img[0]"
                            :lazy-src="item.product_img[0]"
                            aspect-ratio="1"
                            class="grey lighten-2"
                            height="100px"
                            max-width="200px"
                          >
                            <template v-slot:placeholder>
                              <v-row
                                class="fill-height ma-0"
                                align="center"
                                justify="center"
                              >
                                <v-progress-circular
                                  indeterminate
                                  color="grey lighten-5"
                                ></v-progress-circular>
                              </v-row>
                            </template>
                          </v-img>
                        </v-card>
                      </v-col>
                      <v-col class="mg-auto" cols="12" sm="2"
                        ><p>รหัสสินค้า : {{ item.product_id }}</p>
                      </v-col>
                      <v-col class="mg-auto" cols="12" sm="2"
                        ><p>ชื่อสินค้า : {{ item.product_name }}</p>
                      </v-col>
                      <v-col class="mg-auto" cols="12" sm="2"
                        ><p>ราคาสินค้า : {{ item.price }} บาท/ชิ้น</p>
                      </v-col>
                      <v-col class="mg-auto" cols="12" sm="2"
                        ><p>จำนวนทั้งหมด : {{ item.total }} ชิ้น</p>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </div>
            </div>
          </td>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
const CardDialog = () => import("./AddCardDialog");
export default {
  name: "Order_list",
  components: {
    "card-dialog": CardDialog,
  },
  data: () => ({
    fileInput: [],
    dialog: false,
    search_product: "",
    singleExpand: false,
    expanded: [],
    headers: [
      {
        text: "Order Id",
        align: "start",
        sortable: false,
        value: "order_id",
      },
      { text: "Buyer", value: "buyer" },
      { text: "Date", value: "buy_date" },
      { text: "Status", value: "status" },
      { text: "Actions", value: "actions", sortable: false },
      { text: "other", value: "data-table-expand" },
    ],
    desserts: [],
  }),

  created() {
    this.initialize();
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          order_id: "asdaw2aas23548",
          buyer_id: "user-001",
          buyer: "name username",
          total: 1,
          price: 123,
          address: "1234/12 phrachauthid",
          message: "เอ่เยอะๆ",
          buy_date: "12:02:1234",
          status: 1,
          slip: "",
          custom_item_list: [
            {
              product_name: "custom-1",
              product_id: "product-01",
              total: 2,
              product_img: [
                "https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg",
                "https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg",
              ],
              price: 100,
            },
            {
              product_name: "custom-2",
              product_id: "product-03",
              total: 2,
              product_img: [
                "https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg",
              ],
              price: 100,
            },
          ],
        },
        {
          order_id: "asdas223145487",
          buyer_id: "user-001",
          buyer: "name username",
          total: 1,
          price: 123,
          address: "1234/12 phrachauthid",
          message: "เอ่เยอะๆ",
          buy_date: "12:02:1234",
          status: 1,
          slip: "",
          custom_item_list: [
            {
              product_name: "พวงมาลัย",
              product_id: "product-01",
              total: 2,
              product_img: [
                "https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg",
              ],
              price: 100,
            },
          ],
        },
      ];
    },

    CustomItem(item) {
      // eslint-disable-next-line no-console
      console.log(item);
    },

    ConfirmOrder(item) {
      // eslint-disable-next-line no-console
      console.log(item.order_id);
    },

    deleteItem(item) {
      confirm("Are you sure you want to delete this item?") &&
        // eslint-disable-next-line no-console
        console.log(item.order_id);
    },

    // close() {
    //   this.dialog = false;
    // },

    // save(item) {
    //   const img = this.fileInput;
    //   const id = item.order_id;
    //   if (id && img) {
    //     // eslint-disable-next-line no-console
    //     console.log(id, img);
    //   }

    //   this.close();
    // }

    // onSelectFile() {
    //   const img = this.fileInput;
    //   if (img) {
    //     this.imageData = URL.createObjectURL(img);
    //   }
    // }
  },
};
</script>

<style scoped>
.product-list {
  height: 87vh;
}

.fn-4 {
  font-size: 2rem;
}

.fl-container {
  height: 100%;
}

.search_input {
  max-width: 300px;
}
.w-chip {
  width: 120px;
}

v-btn {
  min-width: 120px;
}

.mg-auto {
  margin: auto;
}
</style>
