<template>
  <div class="card-group">
    <v-row>
      <v-col
        cols="12"
        sm="6"
        md="4"
        lg="3"
        class="item"
        v-for="(item, index) in productList"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="index"
      >
        <div class="product-img">
          <img
            :src="Scrimg(item.product_images[0].image_url)"
            :lazy-src="Scrimg(item.product_images[0].image_url)"
            class="card-img-top"
            alt="Card image cap"
          />
        </div>
        <div class="card-footer">
          <div class="form-row">
            <div class="topic col-md-8">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <p class="card-text">
                <small class="text-muted">PRICE : {{ item.price }} BATH.</small>
              </p>
            </div>
            <div class="mr col-md-4">
              <a
                ><router-link
                  class="btn block-center btn-add stretched-link"
                  :to="`ProductDetail/${item.product_id}`"
                  >DETAIL</router-link
                ></a
              >
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { http } from "../config/http";
export default {
  name: "CardProduct",
  props: ["productList"],

  methods: {
    Scrimg(img) {
      if (img.includes("/images")) {
        return `${http}${img}`;;
      } else {
        return img;
      }
    },
  },
};
</script>

<style scoped>
.card-group {
  padding: 0px 15px;
}

.card .card-footer h5 {
  font-weight: bolder;
}

.mr a {
  width: 100%;
  display: block;
  color: black;
}

.mr {
  margin: 20px 0px;
}

.card-footer {
  border: none;
  background-color: transparent;
}

.item img {
  height: auto;
  width: 100%;
  max-width: 250px;
  max-height: 350px;
  margin: auto;
  border-radius: 10px;
}

.product-img {
  height: 350px;
  width: 100%;
  display: flex;
  /* background-color: rgb(246, 246, 246); */
  border-radius: 10px;
}

.btn-add {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}

.btn-add:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
}

.card .card-footer .topic {
  text-align: left;
  color: black;
}

.card-group > .card {
  margin-bottom: 0;
}

.card-title {
  color: black;
  font-weight: bolder;
}

.card-text {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  max-width: 170px;
  white-space: nowrap;
}
</style>
