<template>
  <div id="nav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="form-inline my-2 my-lg-0">
        <a class="navbar-brand" href="/">
          <img
            src="../assets/img/draft-logo.png"
            width="auto"
            height="80"
            alt=""
          />
        </a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <router-link class="nav-link" :to="'/'">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/News'">News</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/Product'">Product</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'/About'">About Us</router-link>
          </li>

          <li class="nav-item" v-if="permissionUser == 'admin'">
            <router-link class="nav-link" :to="'/Admin/Dashboard'"
              >Manage</router-link
            >
          </li>
        </ul>

        <div class="mt-2 mt-lg-0">
          <div class="navbar-nav row mr-auto sign_in" v-if="!currentUser">
            <router-link class="nav-link" to="/Auth/SignIn"
              >SIGN IN</router-link
            >
            <router-link class="nav-link" to="/Auth/Register"
              >SIGN UP</router-link
            >
          </div>
          <div class="navbar-nav row mr-auto sign_in" v-if="currentUser">
            <a class="nav-link text-name">{{ currentUser }}</a>
            <v-menu bottom left>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="teal darken-4" icon v-bind="attrs" v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item link>
                  <v-list-item-title @click="Signout()"
                    ><v-icon>logout</v-icon> Sign Out</v-list-item-title
                  >
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Nav",

  computed: {
    ...mapState(["currentUser", "permissionUser"]),
  },

  methods: {
    Signout: function () {
      localStorage.clear("mail");
      localStorage.clear("access_token");
      this.$router.go(this.$router.currentRoute);
    },
  },
};
</script>

<style scoped>
#nav {
  padding: 5px;
  background-color: white;
  position: relative;
  z-index: 1;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
    text-align: center;
    float: none;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.btn-signout {
  max-width: 100px !important;
  color: white !important;
  margin: auto;
}

.sign_in {
  display: flex;
  align-items: center;
}

.v-application ul {
  padding: 0;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(0, 0, 0);
  border: 0.5px solid white;
  border-radius: 8px;
}

.navbar-nav .nav-item .nav-link:active {
  color: rgb(255, 255, 255);
  border: 0.5px solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 8px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgb(255, 255, 255);
  border: 0.5px solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 8px;
}

.nav-link {
  font-size: 15px;
}

.sign_in > a {
  font-weight: bolder;
  font-size: 16px;
  color: #004d40 !important;
}

.sign_in > .text-name:hover {
  color: #004d40 !important;
}

.sign_in .nav-link:hover {
  color: rgb(255, 0, 0);
  border: none;
}

.sign_in .nav-link:active {
  color: rgb(255, 0, 0);
  border: none;
}

.nav-item {
  text-align: center;
}

.nav-link {
  text-align: center;
}

.row{
  margin: 0 !important;
}
</style>
