<template>
  <div class="blog_content blog_nav h100">
    <nav class="navbar navbar-light">
      <span class="navbar-brand mb-0 h1">{{
        title ? "All Product" : "Product Detail"
      }}</span>
      <form v-if="title" class="form-inline">
        <v-text-field
          class="search-input"
          type="text"
          v-model="search"
          filled
          rounded
          hide-details
          dense
          color="teal darken-4"
          placeholder="Search"
          aria-label="Search"
          prepend-icon="mdi-magnify"
          aria-describedby="basic-addon1"
          v-on:input="emitFilterdata(search)"
          @click:clear="clearMessage"
          clear-icon="mdi-close-circle"
          clearable
        ></v-text-field>

        <v-badge v-if="carttotalLength > 0" bordered overlap color="error">
          <template v-slot:badge>
            <p>{{ carttotalLength }}</p>
          </template>

          <router-link class="btn btn-cart" :to="'/cart'">
            <v-btn icon>
              <v-icon>mdi-cart-outline</v-icon>
            </v-btn>
          </router-link>
        </v-badge>
      </form>
    </nav>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "NavbarCart",
  props: ["title"],
  computed: mapState(["cart"]),
  data() {
    return {
      search: "",
    };
  },
  methods: {
    emitFilterdata(value) {
      this.$emit("emitFilterdata", value);
    },

    clearMessage() {
      this.search = "";
    },
  },
  computed: {
    carttotalLength() {
      return this.$store.state.cart.length;
    },
  },
};
</script>

<style scoped>
.search-input > .v-text-field__details {
  margin-bottom: 8px;
}
</style>