<template>
  <div class="AddCustomProductList">
    <div class="container">
      <v-row>
        <v-col cols="12" sm="6">
          <div class="all-list-custom">
            <div class="title">
              <h5>Image Preview</h5>
            </div>
            <div class="main-content" v-if="url.length > 0">
              <v-row>
                <v-col cols="12" sm="12" v-for="(img, i) in url" :key="i">
                  <div id="preview">
                    <img :src="img" />
                  </div>
                </v-col>
              </v-row>
            </div>
          </div>
        </v-col>
        <v-col cols="12" sm="6">
          <div class="add-custom">
            <div class="title">
              <h5>Add Product</h5>
            </div>
            <div class="main-content">
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="custom_list.name"
                      label="product name"
                      outlined
                      color="teal darken-4"
                      :rules="inputRules"
                      clearable
                      rounded
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-textarea
                      v-model="custom_list.description"
                      label="product detail"
                      :rules="inputRules"
                      outlined
                      color="teal darken-4"
                      clearable
                      rounded
                    ></v-textarea>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="12">
                    <v-select
                      v-model="custom_list.pcate_id"
                      :items="list_category"
                      :rules="inputRules"
                      item-text="name"
                      item-value="id"
                      label="select product category"
                      rounded
                      outlined
                      color="teal darken-4"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field
                      v-model="custom_list.price"
                      :rules="ProductRules"
                      label="product price"
                      type="number"
                      min="0"
                      color="teal darken-4"
                      outlined
                      clearable
                      rounded
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field
                      v-model="custom_list.discount"
                      :rules="ProductRules"
                      label="product discount"
                      type="number"
                      min="0"
                      color="teal darken-4"
                      outlined
                      clearable
                      rounded
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4">
                    <v-text-field
                      v-model="custom_list.quantity"
                      :rules="ProductRules"
                      label="product quantity"
                      type="number"
                      min="0"
                      color="teal darken-4"
                      outlined
                      clearable
                      rounded
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" sm="4">
                    <v-select
                      outlined
                      rounded
                      color="teal darken-4"
                      :items="list_ex_choise"
                      v-model="custom_list.is_extension"
                      label="product extension"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="4">
                    <v-select
                      outlined
                      rounded
                      color="teal darken-4"
                      :items="list_ex_choise"
                      v-model="custom_list.duplicate_able"
                      label="product duplicate"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" v-for="(input, i) in image" :key="i">
                    <v-row>
                      <v-col cols="12" sm="8">
                        <v-file-input
                          v-model="input.img"
                          color="teal darken-4"
                          counter
                          rounded
                          accept="image/jpeg, image/png"
                          label="product custom image"
                          placeholder="Select your image"
                          prepend-icon="mdi-paperclip"
                          outlined
                          show-size
                          @change="onFileChange(i)"
                        >
                        </v-file-input>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="2"
                        v-if="i == image.length - 1 && image.length <= 2"
                      >
                        <v-btn
                          rounded
                          class="btn-add"
                          @click="add()"
                          color="teal darken-4"
                          dark
                          :disabled="files_upload.length === i"
                          >add</v-btn
                        >
                      </v-col>
                      <v-col
                        cols="12"
                        sm="2"
                        v-if="i || (!i && image.length > 1)"
                      >
                        <v-btn
                          class="btn-add"
                          @click="remove(i)"
                          color="red"
                          dark
                          :disabled="files_upload.length === i"
                          rounded
                          >remove</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" v-if="custom_list.is_extension">
                    <v-text-field
                      v-model="custom_list.stock"
                      label="product custom in stock"
                      outlined
                      color="teal darken-4"
                      clearable
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-btn
                      class="btn-add-list"
                      color="teal darken-4"
                      rounded
                      medium
                      :loading="loading"
                      @click="addlistproduct()"
                      :disabled="!valid || loading"
                      >Create Product</v-btn
                    ></v-col
                  >
                </v-row>
              </v-form>
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import _service from "../../../service/product.service";
export default {
  name: "AddCustomProductList",
  data() {
    return {
      valid: false,
      url: [],
      loading: false,
      files_upload: [],
      list_category: [{ name: "ของใช้", id: "1" }],
      list_ex_choise: [true, false],
      custom_list: {
        pcate_id: 0,
        name: "",
        description: "",
        price: 0,
        discount: 0,
        quantity: 0,
        is_extension: false,
        duplicate_able: false,
        extension_position: [0],
        create_dt: new Date().toISOString(),
        modified_dt: new Date().toISOString(),
      },
      image: [
        {
          img: [],
        },
      ],
      inputRules: [(v) => !!v || "Input is required"],
      ProductRules: [
        (v) =>
          v > 0 ||
          "Product price or Product Discount or Product Quantity is zero",
      ],
    };
  },

  methods: {
    add: function () {
      this.image.push({ img: [] });
    },

    remove: function (i) {
      this.image.splice(i, 1);
      this.url.splice(i, 1);
      this.files_upload.splice(i, 1);
    },

    onFileChange: function (i) {
      if (this.image[i].img) {
        const file = this.image[i].img;
        const url = URL.createObjectURL(file);
        this.url[i] = url;
        this.files_upload.push(file);
      } else if (this.image[i].img === undefined) {
        this.url[i] = "";
      }
    },

    addlistproduct: function () {
      if (this.$refs.form.validate()) {
        this.loading = true;
        _service.create_product(this.custom_list).subscribe((res) => {
          if (res && res.ProductId) {
            if (this.files_upload.length > 0) {
              this.upload_image(res["ProductId"]);
            } else {
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: "top-end",
                icon: "success",
                title: "create product success",
                showConfirmButton: false,
                timer: 1500,
              });
              this.loading = false
            }
          } else {
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: "top-end",
              icon: "error",
              title: `${res["detail"]}`,
              showConfirmButton: false,
              timer: 1500,
            });
            this.loading = false
          }
        }),
          () => {
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: "top-end",
              icon: "error",
              title: `internal server error`,
              showConfirmButton: false,
              timer: 1500,
            });
          };
      }
    },

    upload_image: function (product_id) {
      for (let index = 0; index < this.files_upload.length; index++) {
        this.loading = true;
        const formData = new FormData();
        formData.append("images", this.files_upload[index]);
        _service
          .create_product_images(formData, product_id)
          .subscribe((res) => {
            if (res && res[0].img_url) {
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: "top-end",
                icon: "success",
                title: "create product success",
                showConfirmButton: false,
                timer: 1500,
              });
              this.loading = false
            } else {
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: "top-end",
                icon: "error",
                title: `${res["detail"]}`,
                showConfirmButton: false,
                timer: 1500,
              });
              this.loading = false
            }
          }),
          () => {
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: "top-end",
              icon: "error",
              title: `internal server error`,
              showConfirmButton: false,
              timer: 1500,
            });
            this.loading = false
          };
      }
    },
  },
};
</script>

<style scoped>
h5 {
  color: #004d40 !important;
  font-size: 24px;
}

.v-chip {
  width: 100%;
  justify-content: center;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  width: auto;
  background: #e5e5e5;
  height: 300px;
  max-width: 100%;
  border-radius: 20px;
}

.btn-add-list {
  color: white;
  margin: auto;
  height: 50px !important;
  width: 200px !important;
  display: block;
}

.btn-add {
  margin-top: 10px;
  height: 40px !important;
  width: 100% !important;
}
</style>
