<template>
  <div class="product-list">
    <div class="fl-container">
      <v-data-table
        :search="search_cate"
        height="769px"
        :headers="headers"
        :items="list_cate"
        sort-by="calories"
        class="elevation-1"
        item-key="id"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title class="fn-4">User List</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field
              class="search_input"
              v-model="search_cate"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="700px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  New Category
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-form
                      class="form-input-login"
                      ref="form"
                      v-model="valid"
                      lazy-validation
                    >
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            v-model="editedItem.name"
                            label="Category Name"
                            outlined
                            rounded
                            required
                            prepend-icon="mdi-account"
                            color="teal darken-4"
                            :rules="nameRules"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancel</v-btn
                  >
                  <v-btn :disabled="!valid" color="blue darken-1" text @click="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>

          <v-icon small @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import service from '../../../service/product.service'
export default {
  name: "category_list",
  data: () => ({
    dialog: false,
    valid : false,
    search_cate: "",
    headers: [
      {
        text: "Category ID",
        align: "start",
        value: "PCateId"
      },
      { text: "Category Name", value: "name" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    list_cate: [],
    editedIndex: -1,
    editedItem: {
      PCateId : "",
      name : ""
    },
    defaultItem: {
      PCateId : "",
      name : ""
    },
      nameRules: [v => !!v || "Input is required"],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New User" : "Edit User";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize : function() {
      this.list_cate = [{
          PCateId : '1',
          name : "ring"
      },{
          PCateId : '2',
          name : "bag"
      },{
          PCateId : '3',
          name : "jacket"
      },{
          PCateId : '4',
          name : "eye"
      }
      ]
    },

    editItem(item) {
      this.editedIndex = this.list_cate.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.list_cate.indexOf(item);
      confirm("Are you sure you want to delete this category?") &&
        service.delete_user(item).subscribe(res => {
          if(res['deleted_user_id']){
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'success',
              title: 'delete user success',
              showConfirmButton: false,
              timer: 1500
            })
             this.list_cate.splice(index, 1);  
          }else{
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'error',
              title: `${res['detail']}`,
              showConfirmButton: false,
              timer: 1500
            })
          }
        }),(() => {
          this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'error',
              title: `internal server error`,
              showConfirmButton: false,
              timer: 1500
          })
        })
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          service.update_user(this.editedItem).subscribe(res => {
            if(res['success']){
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'success',
                title: 'update success',
                showConfirmButton: false,
                timer: 1500
              })
              Object.assign(this.list_cate[this.editedIndex], this.editedItem);
              this.close();
            }else{
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `${res['detail']}`,
                showConfirmButton: false,
                timer: 1500
            })
            }
          }),(() => {
            this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `internal server error`,
                showConfirmButton: false,
                timer: 1500
            })
          })
        } else {
          service.post_category(this.editedItem).subscribe(res => {
              console.log(res)
            if(res['PCateId']){
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'success',
                title: 'Login success',
                showConfirmButton: false,
                timer: 1500
              })
              this.editedItem.PCateId = res['PCateId'];
              this.list_cate.push(this.editedItem);
              this.close();
            }else{
              this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `${res['detail']}`,
                showConfirmButton: false,
                timer: 1500
            })
            }
          }),(() => {
            this.$swal({
                toast: true,
                timerProgressBar: true,
                position: 'top-end',
                icon: 'error',
                title: `internal server error`,
                showConfirmButton: false,
                timer: 1500
            })
          })
        }
      }
    }
  }
};
</script>

<style scoped>
.product-list {
  height: 88vh;
}

.fl-container {
  height: 100%;
}

.search_input {
  max-width: 300px;
}

.fn-4 {
  font-size: 2rem;
}
</style>
