<template>
  <div class="product-list">
    <div class="fl-container">
      <v-data-table
        :search="search_product"
        height="769px"
        :headers="headers"
        :items="product_list"
        sort-by="calories"
        class="elevation-1"
        :single-expand="singleExpand"
        :expanded.sync="expanded"
        item-key="name"
        show-expand
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title class="fn-4">Product List</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field
              class="search_input"
              v-model="search_product"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              color="teal darken-4"
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <template>
              <v-menu
                transition="slide-x-transition"
                offset-y
                bottom
                :close-on-click="true"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="teal darken-4"
                    dark
                    icon
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item link to="/Admin/Add_product">
                    <v-list-item-title>
                      เพิ่มสินค้า
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item link to="/Admin/Category">
                    <v-list-item-title>
                        เพิ่มประเภทของสินค้า
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item link to="/Admin/Promotion">
                    <v-list-item-title>
                        จัดการโปรโมชั่น
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>

            <v-dialog v-model="dialog" max-width="500px">
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          outlined
                          v-model="editedItem.name"
                          label="product name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          outlined
                          v-model="editedItem.description"
                          label="product detail"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="4">
                        <v-text-field
                          outlined
                          v-model="editedItem.price"
                          label="price (bath)"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="4">
                        <v-text-field
                          outlined
                          v-model="editedItem.duplicate_able"
                          label="stock"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="4">
                        <v-text-field
                          outlined
                          v-model="editedItem.discount"
                          label="discount"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" >
                        <v-text-field
                          outlined
                          v-model="editedItem.product_category.name"
                          label="type"
                        ></v-text-field>
                      </v-col>
                      <!-- <v-col v-if="editedIndex === -1" cols="12">
                        <v-file-input
                          v-model="editedItem.product_images"
                          color="teal darken-4"
                          counter
                          label="File input"
                          multiple
                          placeholder="Select your files"
                          prepend-icon="mdi-paperclip"
                          outlined
                          :show-size="1000"
                        >
                          <template v-slot:selection="{ index, text }">
                            <v-chip
                              v-if="index < 2"
                              color="teal darken-4"
                              dark
                              label
                              small
                            >
                              {{ text }}
                            </v-chip>

                            <span
                              v-else-if="index === 2"
                              class="overline grey--text text--darken-3 mx-2"
                            >
                              +{{ editedItem.product_images.length - 2 }} File(s)
                            </span>
                          </template>
                        </v-file-input>
                      </v-col> -->
                      <v-col cols="12" sm="6">
                        <v-switch
                          v-model="editedItem.duplicate_able"
                          color="teal darken-4"
                          label="Product status"
                        ></v-switch>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-switch
                          color="teal darken-4"
                          v-model="editedItem.is_extension"
                          label="Customize status"
                        ></v-switch>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.discount`]="{ item }">
          <p style="margin-bottom : 0px">{{ item.discount + ' bath' }}</p>
        </template>
        <!-- <template v-slot:[`item.duplicate_able`]="{ item }">
          <v-switch color="teal darken-4" v-model="item.duplicate_able"></v-switch>
        </template> -->
        <!-- <template v-slot:[`item.is_extension`]="{ item }">
          <v-switch color="teal darken-4" class="mr-auto" v-model="item.is_extension"></v-switch>
        </template> -->
        <!-- <template v-slot:[`item.actions`]="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template> -->
        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <div class="container">
              <div class="content">
                <v-row>
                  <v-col cols="12" sm="6">
                    <v-card flat>
                      <v-container fluid>
                        <v-row>
                          <v-col
                            v-for="(image, index) in item.product_images"
                            :key="index"
                            class="d-flex child-flex"
                            cols="6"
                          >
                            <v-card flat class="d-flex">
                              <v-img
                                :src="Scrimg_add(image.image_url)"
                                :lazy-src="Scrimg_add(image.image_url)"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                height="100%"
                                max-width="300"
                                style="margin: auto;"
                              >
                                <template v-slot:placeholder>
                                  <v-row
                                    class="fill-height ma-0"
                                    align="center"
                                    justify="center"
                                  >
                                    <v-progress-circular
                                      indeterminate
                                      color="grey lighten-5"
                                    ></v-progress-circular>
                                  </v-row>
                                </template>
                              </v-img>
                            </v-card>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <h5>รายละเอียด</h5>
                    <div class="product-detail">
                      <p>ชื่อสินค้า : {{ item.name }}</p>
                      <p>รายละเอียดสินค้า : {{ item.description }}</p>
                      <div class="d-flex">
                        <p>ประเภทสินค้า :</p>
                        <p
                          class="d-flex"
                          v-for="(it, index) in item.product_category"
                          :key="index"
                        >
                          {{ it + "," }}
                        </p>
                      </div>
                      <p>ราคา : {{ item.price }} บาท</p>
                      <p>จำนวนสินค้า : {{ item.quantity }} ชิ้น</p>
                      <p>ลดราคา : {{ item.discount }} บาท</p>
                      <p>
                        สเตตัสสินค้า :
                        {{ item.duplicate_able ? "วางขาย" : "ไม่ได้วางขาย" }}
                      </p>
                    </div>
                  </v-col>
                </v-row>
              </div>
            </div>
          </td>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import { http } from "../../../config/http";
import _service from "../../../service/product.service";
export default {
  name: "Product_list",
  data: () => ({
    http : http,
    dialog: false,
    search_product: "",
    singleExpand: false,
    expanded: [],
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "product_id",
      },
      {
        text: "Product Name",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Product description", value: "description" },
      { text: "Discount (%)", value: "discount" },
      { text: "Quantity", value: "quantity" },
      { text: "Price (Bath)", value: "price" },
      { text: "Product category", value: "product_category.name" },
      // { text: "Status", value: "duplicate_able" },
      // { text: "Actions", value: "actions", sortable: false },
      { text: "Other", value: "data-table-expand" },
    ],
    product_list: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      quantity: 0,
      price: 0,
      discount : 0,
      product_images: [],
      description: "",
      product_category: {},
      duplicate_able: false,
      is_extension: false,
      extension_position: [],
    },
    defaultItem: {
      name: "",
      quantity: 0,
      price: 0,
      discount : 0,
      product_images: [],
      description: "",
      product_category: {},
      duplicate_able: false,
      is_extension: false,
      extension_position: [],
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Product" : "Edit Product";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize(){
      _service.get_product({limit: 9999}).subscribe(res => {
        this.product_list = res
      })
    },

    Scrimg_add(img) {
      if (img.includes("/images")) {
        return `${http}${img}`;
      } else {
        return img;
      }
    },

    editItem(item) {
      this.editedIndex = this.product_list.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.product_list.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.product_list.splice(index, 1);
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.product_list[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },

    CustomItem(item) {
      // eslint-disable-next-line no-console
      console.log(item);
    },
  },
};
</script>

<style scoped>
  .fn-4 {
    font-size: 2rem;
  }

  .product-list {
    height: 88vh;
  }

  .fl-container {
    height: 100%;
  }

  .search_input {
    max-width: 300px;
  }

  .link {
    color: black;
  }
</style>
