<template>
  <div class="card-content">
    <v-row class="card-group">
      <v-col
        cols="12"
        sm="6"
        md="4"
        lg="4"
        v-for="(item, index) in newsData"
        :key="index"
      >
        <v-card class="mx-auto" height="100%">
          <v-img :src="item.img_url" height="300px"></v-img>
          <v-card-title>
            {{ item["title"] }}
          </v-card-title>

          <v-card-subtitle class="text-discription">
            {{ item["discription"] }}
          </v-card-subtitle>
          <template>
            <div class="text-center">
              <v-dialog v-model="showContent[index]" width="500">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="teal darken-4" dark v-bind="attrs" v-on="on">
                    Read more
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title class="text-h5 grey lighten-2">
                    {{ item["title"] }}
                  </v-card-title>

                  <v-card-text class="pd-20">
                    <v-img
                      class="img-dialog"
                      :src="item.img_url"
                      height="100%"
                    ></v-img>
                    <p class="text-dis">{{ item["discription"] }}</p>
                  </v-card-text>

                  <!-- <v-divider></v-divider> -->

                  <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      text
                      @click="showContent[index] = false"
                    >
                      Close
                    </v-btn>
                  </v-card-actions> -->
                </v-card>
              </v-dialog>
            </div>
          </template>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "card_news",
  props: ['newsData'] ,
  data() {
    return {
      show: false,
      showContent: [],
    };
  },

  methods: {
    showContentImage(index){
        this.showContent[index] === undefined ? (this.showContent[index] = true ) : (this.showContent[index] = !this.showContent[index])
    }
  },
};
</script>

<style scoped>
.sub_title {
  max-height: 20px;
  overflow: hidden;
}

.text-center {
  padding: 10px 0px;
}

.text-discription {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pd-20 {
  padding: 20px !important;
}

.img-dialog {
  border-radius: 20px;
}

.text-dis {
  margin-top: 10px;
}
</style>
