<template>
  <v-app id="app">
    <Navbar></Navbar>
    <router-view />
  </v-app>
</template>

<script>
const Navbar = () => import("@/components/Nav");
export default {
  components: {
    Navbar
  },
  
  beforeCreate(){
    this.$store.commit('initCartStore')
  }
}

</script>
<style>
#app {
  font-family: 'Prompt', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cecece;
}

body,
html {
  height: 100vh;
}

.content {
  display: block;
  position: relative;
  margin: auto;
}

.h100 {
  height: 100%;
}
</style>
