<template>
  <div class="login-page">
    <div class="content">
      <div class="card main-content">
        <div class="row">
          <div class="col-sm-4 bg-logo">
            <div class="login-img"></div>
          </div>
          <div class="col-sm-8 login-form">
            <div class="card card-form">
              <v-form
                class="form-input-login"
                ref="form"
                v-model="valid"
                lazy-validation
              >
                <div class="title">
                  <h5>WELCOME</h5>
                  <h2>Register</h2>
                </div>
                <div class="row">
                  <div class="col-sm-6 input-text">
                    <v-text-field
                      v-model="user.first_name"
                      label="firstname"
                      outlined
                      rounded
                      required
                      prepend-icon="mdi-account"
                      color="teal darken-4"
                      :rules="nameRules"
                    ></v-text-field>
                  </div>

                  <div class="col-sm-6 input-text">
                    <v-text-field
                      v-model="user.last_name"
                      label="lastname"
                      rounded
                      outlined
                      required
                      prepend-icon="mdi-account"
                      color="teal darken-4"
                      :rules="nameRules"
                    ></v-text-field>
                  </div>

                  <div class="col-sm-12 input-text">
                    <v-text-field
                      class="input-text"
                      v-model="user.email"
                      label="email"
                      type="email"
                      outlined
                      rounded
                      required
                      prepend-icon="mdi-email"
                      color="teal darken-4"
                      :rules="emailRules"
                    ></v-text-field>
                  </div>
                  <div class="col-sm-6 input-text">
                    <v-text-field
                      v-model="user.password"
                      :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
                      label="password"
                      :type="showpassword ? 'text' : 'password'"
                      counter="15"
                      outlined
                      rounded
                      required
                      prepend-icon="mdi-account-key"
                      color="teal darken-4"
                      @click:append="showpassword = !showpassword"
                      :rules="passwordRules"
                    ></v-text-field>
                  </div>
                  <div class="col-sm-6 input-text">
                    <v-text-field
                      v-model="confirm_password"
                      label="confirm password"
                      outlined
                      counter="15"
                      type="password"
                      rounded
                      required
                      prepend-icon="mdi-account-key"
                      color="teal darken-4"
                      :rules="[passwordConfirmationRule]"
                    ></v-text-field>
                  </div>
                  <div class="col-sm-12 input-text">
                    <v-checkbox
                      v-model="checkbox"
                      :rules="[v => !!v || 'You must confirm to continue!']"
                      label="Confirm ?"
                      required
                      color="teal darken-4"
                    ></v-checkbox>
                  </div>
                </div>
                <v-btn
                  :disabled="!valid || loading"
                  class="mb-5 register-btn"
                  rounded
                  block
                  height="45"
                  :loading="loading"
                  color="teal darken-4 mt-5"
                  @click="intialRegister()"
                  >Register</v-btn
                >
              </v-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import service from "../../service/auth.service.js";
export default {
  name: "Register",
  components: {},
  data() {
    return {
      loading : false,
      showpassword: false,
      valid: false,
      user : {
        password: "",
        first_name: "",
        last_name: "",
        email: "",
        role : false
      },
      confirm_password: "",
      checkbox: "",
      nameRules: [v => !!v || "Input is required"],
      passwordRules: [
        v => !!v || "Input is required",
        v => (v && v.length >= 8) || "password must longer than 8 characters",
        v => (v.length >= 8 && v.length <= 15) || "password longer"
        ],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ]
    };
  },

  computed: {
    passwordConfirmationRule() {
      return () =>
        this.user.password === this.confirm_password || "Password must match";
    }
  },

  methods: {
    intialRegister: function() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        service.register(this.user).subscribe(res => {
          this.loading = false;
          if(res['UserId']){
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'success',
              title: 'Your work has been saved',
              showConfirmButton: false,
              timer: 1500
            })
            this.$router.push({name: 'SignIn'})
          }else{
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'error',
              title: `${res['detail']}`,
              showConfirmButton: false,
              timer: 1500
          })
          }
        }),(() => {
          this.$swal({
              toast: true,
              timerProgressBar: true,
              position: 'top-end',
              icon: 'error',
              title: `internal server error`,
              showConfirmButton: false,
              timer: 1500
          })
        })
      }
    }
  }
};
</script>

<style scoped>
@media (max-width: 800px) {
  .login-img {
    display: none;
  }

  .bg-logo {
    display: none;
  }

  .col-sm-8 {
    flex: none;
    max-width: 100%;
  }

  .form-input-login {
    width: 80%;
  }
}

.login-form {
  height: auto;
  margin: auto;
}

.register-btn {
  color: white;
}

.bg-logo {
  background-color: #004d40;
}

.login-img {
  background-image: url("../../assets/img/logo_mon.png");
  height: 86vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 300px;
  margin: auto;
}

.card-form {
  height: 100%;
  display: flex;
}

.input-text {
  height: 100px;
}

.form-input-login {
  width: 75%;
  padding: 20px;
  margin: auto;
  margin-top: 0;
}

.card {
  border: none;
}

.col-sm-12 {
  padding: 8px;
}

.title{
  color: black;
}

.title h2 {
  font-weight: bolder;
  text-align: left;
  margin-bottom: 40px;
  font-size: 40px;
}

.title h5 {
  text-align: left;
  font-size: 15px;
  margin: 0;
  color: #c1c1c1;
}

.main-content {
  height: 100%;
}

.col-sm-6 {
  padding: 5px;
}
</style>
