<template>
  <div class="login-page">
    <div class="content">
      <v-card class="card main-content">
        <div class="row">
          <div class="col-sm-6 logo-bg br-left">
            <div class="login-img"></div>
          </div>
          <div class="col-sm-6 login-form">
            <div class="card card-form br-right">
              <v-form
                class="form-input-login"
                ref="form"
                v-model="valid"
                lazy-validation
              >
                <div class="title">
                  <h5>WELCOME</h5>
                  <h2>Login</h2>
                </div>
                <v-text-field
                  v-model="user.email"
                  label="email"
                  outlined
                  rounded
                  required
                  :rules="emailRules"
                  prepend-icon="mdi-account"
                  color="teal darken-4"
                ></v-text-field>

                <v-text-field
                  v-model="user.password"
                  :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
                  label="password"
                  :type="showpassword ? 'text' : 'password'"
                  outlined
                  rounded
                  required
                  :rules="passwordRules"
                  prepend-icon="mdi-account-key"
                  color="teal darken-4"
                  @click:append="showpassword = !showpassword"
                ></v-text-field>
                <v-btn
                  class="btn-login"
                  rounded
                  block
                  height="45"
                  color="teal darken-4"
                  :disabled="!valid || loading"
                  :loading="loading"
                  @click="intialLogin()"
                  >login</v-btn
                >
                <br />
                <p style="text-align: center">OR</p>
                <router-link :to="'/Auth/Register'">
                  <v-btn text block height="45" color="teal darken-4"
                    >register</v-btn
                  >
                </router-link>
              </v-form>
            </div>
          </div>
        </div>
      </v-card>
    </div>
  </div>
</template>

<script>
import service from "../../service/auth.service.js";
import user_service from "../../service/user.service.js";
export default {
  name: "SignIn",
  components: {},
  data() {
    return {
      loading: false,
      valid: true,
      user: {
        email: "",
        password: "",
      },
      showpassword: false,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) => (v && v.length >= 8) || "password must longer than 8 characters",
        (v) => (v.length >= 8 && v.length <= 15) || "password longer",
      ],
    };
  },

  methods: {
    intialLogin: function () {
      if (this.$refs.form.validate()) {
        this.loading = true;
        service.sign_in(this.user).subscribe((res) => {
          this.loading = false;
          if (res["access_token"]) {
            this.$store.commit("setCurrentUser", this.user.email);
            localStorage.setItem("access_token", res["access_token"]);
            localStorage.setItem("mail", this.user.email);
            this.get_user_profile();
          } else {
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: "top-end",
              icon: "error",
              title: `${res["detail"]}`,
              showConfirmButton: false,
              timer: 1500,
            });
          }
        }),
          () => {
            this.$swal({
              toast: true,
              timerProgressBar: true,
              position: "top-end",
              icon: "error",
              title: `internal server error`,
              showConfirmButton: false,
              timer: 1500,
            });
          };
      }
    },

    get_user_profile: function () {
      user_service.get_user_profile().subscribe((res) => {
        if (res["user_id"]) {
          this.$swal({
            toast: true,
            timerProgressBar: true,
            position: "top-end",
            icon: "success",
            title: "Login success",
            showConfirmButton: false,
            timer: 1500,
          });
          const permission = res["role"] == true ? "admin" : "user";
          this.$store.commit("setPermission", permission);
          localStorage.setItem("permission", permission);
          this.$router.push("/");
        } else {
          this.$swal({
            toast: true,
            timerProgressBar: true,
            position: "top-end",
            icon: "error",
            title: `${res["detail"]}`,
            showConfirmButton: false,
            timer: 1500,
          });
        }
      }),
        () => {
          this.$swal({
            toast: true,
            timerProgressBar: true,
            position: "top-end",
            icon: "error",
            title: `internal server error`,
            showConfirmButton: false,
            timer: 1500,
          });
        };
    },
  },
};
</script>

<style scoped>
.login-img {
  background-image: url(/img/logo_mon.ce5496b1.png);
  height: 100%;
  width: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.br-left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.br-right {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.logo-bg {
  background-color: #004d40;
}

.btn-login:disabled {
  background: #e5e5e5 !important;
  color: black !important;
}

.btn-login {
  color: white !important;
}

.card-form {
  margin: auto;
  height: 100%;
  display: flex;
}

.form-input-login {
  margin: auto;
  width: 350px;
}

.card {
  border: none;
}

.col-sm-6 {
  padding: 0;
}

.row {
  height: 100%;
}

.main-content {
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 10vh;
}

.title h2 {
  font-weight: bolder;
  text-align: left;
  margin-bottom: 40px;
  font-size: 40px;
}

.title h5 {
  text-align: left;
  font-size: 15px;
  margin: 0;
  color: #c1c1c1;
}

@media (max-width: 991px) {
  .login-img {
    display: none;
  }

  .logo-bg {
    display: none;
  }

  .login-form {
    flex: 100% !important;
    max-width: 100% !important;
  }

  .main-content {
    width: 500px;
  }
}
</style>
